<div class="main_container">
  <h1><%= @party.name %></h1>
  <div class="invitation_link">Invitation Link: <%= @party.invite_link %></div>
  <h2>Guests</h2>
  <div class="party_guests">
    <% if @users %>
      <%= @users.each do |user| %>
        <div class="guest_info">
          <%= link_to user.username, user_path(user) %>
          <%= guest.avatar %>
        </div>
    <% else %>
      <h2>No guests currently.</h2>
    <% end %>
  </div>
</div>
