<%= form_for(@user, multipart: true) do |f| %>
  <%= render partial: 'shared/errors', locals: {errors: @errors} %>

  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control brightCoral" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control brightCoral" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :username %> <small>*required</small><br>
      <%= f.text_field :username, class: "form-control brightCoral" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :email %> <small>*required</small>
      <%= f.email_field :email, class: "form-control brightCoral" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :password %> <small>*required</small><br>
      <%= f.password_field :password, class: "form-control brightCoral" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :password_confirmation %> <small>*required</small><br>
      <%= f.password_field :password_confirmation, class: "form-control brightCoral" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio, cols: 40, rows: 5, placeholder: "Tell us about yourself!", class: "form-control brightCoral" %>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control brightCoral" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :state %>
      <%= f.select :state, options_for_state, {}, class: "form-control brightCoral" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Start your Quest!", class: "btn btn-default" %>
  </div>

<% end %>
