<h1><%= @user.username %></h1>
  <p>
    <%= @user.first_name %> <%= @user.last_name %>
  </p>

  <p>
    Contact: <%= @user.email %>
  </p>

  <p>
    Bio: <%= @user.bio %>
  </p>

  <p>
    City: <%= @user.city %>
  </p>

  <p>
    Parties:
    <ul>
      <% @user.parties.each do |party| %>
        <li><%= party.name %></li>
      <% end %>
    </ul>
  </p>

  <p>
    Quests:
    <ul>
      <% @user.quests.each do |quest| %>
        <li><%= quest.name %></li>
        <li><%= quest.location.address %>, <%= quest.location.city %>, <%= quest.location.state %></li>
        <li>
          <% quest.activities.each do |activity| %>
            <%= activity.name %><br>
            <%= activity.description %><br>
            <%= activity.price_range %><br>
          <% end %>
        </li>
      <% end %>
    </ul>
  </p>
