<h1><%= @user.username %></h1>
  <p>
    <%= @user.first_name %> <%= @user.last_name %>
  </p>

  <p>
    Contact: <%= @user.email %>
  </p>

  <p>
    Bio: <%= @user.bio %>
  </p>

  <p>
    City: <%= @user.city %>
  </p>

  <p>
    Campaigns:
    <ul>
      <% @user.campaigns.each do |campaign| %>
        <li><%= campaign.name %></li>
      <% end %>
    </ul>
  </p>

  <p>
    Quests:<br>
    <% @user.quests.each do |quest| %>
      <%= quest.name %><br>
      Description: <%= quest.description %><br>
      Price Range: <%= quest.price_range %> moneys
    <% end %>
  </p>

  <p>
    <% if current_user?(@user) %>
      <%= link_to "Edit your profile", edit_user_path(@user) %>
      <%= link_to "Delete your profile", user_path(@user),
          method: :delete,
          data: { confirm: "Are you sure you want to delete your profile?" } %>
    <% end %>
  </p>
