<%= form_for([@campaign, @picture], multipart: true) do |f| %>
  <%= render partial: 'shared/errors', locals: {errors: @errors} %>
  <div class="form-group">
     <%= f.label :image %>
     <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Start your Quest!", class: "btn btn-default" %>
  </div>

<% end %>
