<div class="container">
  <div class="row col-md-12">
    <h1><%= @campaign.name %></h1>
      <% if @current_user == @campaign.leader %>
        <div>
          <%=link_to "edit campaign", edit_campaign_path(@campaign)%> | <%=link_to "delete campaign", @campaign, method: :delete, data: { confirm: "Are you sure you want to delete this campaign?" }%>
        </div>
      <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br>
      <br>
      Start time: <%= @campaign.start_time.strftime("%B %d, %Y %I:%M %p") %><br>
      End time: <%= @campaign.end_time.strftime("%B %d, %Y %I:%M %p") %><br><br>
    </div>
    <div class="col-md-6">
      <h2>Location</h2>
        <%= @campaign.location.address %><br>
        <% if current_user?(@campaign.leader) %>
          <%= link_to "Edit this location", new_campaign_location_path(@campaign) %>
        <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2><%= @campaign.pictures.count %> <%= "Picture".pluralize(@campaign.pictures.count)%></h2>
        <% if current_user?(@campaign.leader) || @campaign.users.include?(@current_user)%>
          <%= link_to "Add a picture to this campaign!", new_campaign_picture_path(@campaign) %>
        <% end %>
        <% unless @campaign.pictures.empty? %>
          <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
            <div class='carousel-outer'>
                  <!-- Wrapper for slides -->
                <div class='carousel-inner'>
                  <% @campaign.pictures.each_with_index do |pic, index| %>
                    <% if index == 0 %>
                      <div class='item active'>
                        <%= image_tag pic.image.url(:square) %>
                        <% if @current_user == @campaign.leader %>
                          <div class="image-link">
                            <%= link_to "Delete this picture", campaign_picture_path(@campaign, pic),
                            method: :delete,
                            data: { confirm: "Are you sure you want to delete this picture?" } %>
                          </div>
                        <% end %>
                      </div>
                    <% else %>
                      <div class="item">
                        <%= image_tag pic.image.url(:square) %>
                          <% if @current_user == @campaign.leader %>
                            <div class="image-link">
                              <%= link_to "Delete this picture", campaign_picture_path(@campaign, pic),
                              method: :delete,
                              data: { confirm: "Are you sure you want to delete this picture?" } %>
                            </div>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
             </div>

            <!-- Carousel nav -->
             <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                <span class='glyphicon glyphicon-chevron-left'></span>
             </a>
             <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
               <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        <% end %>
    </div>
    <div class="col-md-6">
      <h2><%= @members.count %> <%= "Member".pluralize(@members.count)%></h2>
        <% unless @members.empty? %>
          <div id='user-carousel-custom' class='carousel slide' data-ride='carousel'>
            <div class='carousel-outer'>
                  <!-- Wrapper for slides -->
                <div class='carousel-inner'>
                  <% @members.each_with_index do |member, index| %>
                    <% if index == 0 %>
                      <div class='item active'>
                        <div class="image-link">
                          <%= link_to member.username, user_path(member) %>
                        </div>
                        <img src="<%= member.avatar.url(:square) %>" alt="avatar" />
                      </div>
                    <% else %>
                      <div class="item">
                        <%= link_to member.username, user_path(member) %>
                        <img src="<%= member.avatar.url(:square) %>" alt="avatar" />
                      </div>
                    <% end %>
                  <% end %>
                </div>
             </div>

            <!-- Carousel nav -->
             <a class='left carousel-control' href='#user-carousel-custom' data-slide='prev'>
                <span class='glyphicon glyphicon-chevron-left'></span>
             </a>
             <a class='right carousel-control' href='#user-carousel-custom' data-slide='next'>
               <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Quests</h2>
        <ul>
          <% @quests.each do |quest| %>
           <li>
              Quest: <%= quest.name %><br>
              Description: <%= quest.description %><br>
              <% price = "" %>
              <% quest.price_range.times do %>
                <% price += "$" %>
              <% end %>
              Price Range: <%= price %><br>
              <% if @current_user == @campaign.leader %>
                <%= link_to "Delete this quest", campaign_quest_path(@campaign, quest),
                  method: :delete,
                  data: { confirm: "Are you sure you want to delete this quest?" } %>
              <% end %>
           </li>
         <% end %>
        </ul>
        <% if current_user?(@campaign.leader) %>
          <%= link_to "Add a quest to this campaign!", new_campaign_quest_path(@campaign) %>
        <% end %>
    </div>
    <div class="col-md-6">
      <br>
      <br>
      <% if current_user?(@campaign.leader) || @campaign.users.include?(@current_user) %>
        <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#inviteLink" aria-expanded="false" aria-controls="inviteLink">Invitation Link </button>
        <div class="collapse" id="inviteLink" aria-expanded="false" style="height: 0px;">
          <div class="well">
            <%= @link %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
