<%= form_for [@campaign, @location] do |f| %>
  <%= render partial: 'shared/errors', locals: {errors: @errors} %>

  <h4>Please enter an address or click on your location on the map:</h4>

  <%= f.hidden_field :latitude, class: "form-control" %>
  <%= f.hidden_field :longitude, class: "form-control" %>

  <fieldset class="form-group">
    <%= f.label :raw_address, 'Address' %>
    <%= f.text_field :raw_address, class: "form-control" %>
    <small class="text-muted">You can also enter IP. Your IP is <%= request.ip %></small>
  </fieldset>
  <fieldset class="form-group">
    <a href="#" id="find-on-map" class="btn btn-info btn-sm">Find on the map</a>
  </fieldset>

    <%= f.submit 'Add Location.', class: 'btn btn-primary' %>
<% end %>
<div class="card">
  <div class="card-block">
    <div id="new_map"></div>
  </div>
</div>
