<!DOCTYPE html>
<html>
<head>
  <title>Party Quest</title>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Dancing+Script" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZdeZHwH56fPgr1Ray067LcQi1U9SXzTs&callback=initMap&libraries=places"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
              </button>
              <a id="logo" class="navbar-brand" href="/">Party Quest</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
                  <% if @current_user %>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href='<%= user_path @current_user %>'>Profile</a></li>
                      <li><a href="<%= new_campaign_path %>">New Campaign</a></li>
                      <li class="divider"></li>
                      <li><a href="<%= logout_path %>">Log out</a></li>
                    </ul>
                  <% else %>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="<%= new_user_path %>">Sign Up</a></li>
                      <li><a href="<%= login_path %>">Log In</a></li>
                    </ul>
                  <% end %>
                </li>
                </ul>
              </div>
          </div>
        </nav>
    </header>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <%= yield %>
    <footer>
      <div class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
